<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper     PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.psx.mapper.MovieMapper">
    <resultMap type="com.psx.model.Movie" id="movieMap">
        <id property="id" column="id" />
        <result property="name" column="name" />
        <result property="director" column="director" />
        <result property="time_length" column="time_length" />
        <result property="pub_date" column="pub_date" />
        <result property="description" column="description" />
        <result property="rating" column="rating" />
        <result property="pic" column="pic" />

        <collection  property="typeList"  ofType="com.psx.model.Type">
            <id property="id" column="cid" />
            <result property="catname" column="catname" />
        </collection>

        <collection  property="actors"  ofType="com.psx.model.Actor">
            <id property="id" column="aid" />
            <result property="name" column="aname" />
            <result property="birthday" column="abirthday" />
            <result property="sex" column="asex" />
            <result property="description" column="adescription" />
            <result property="pic" column="apic" />
        </collection>
    </resultMap>

    <select id="findById" resultMap="movieMap">
        select m.*,a.id aid,a.name aname,a.birthday abirthday,a.sex
            asex,a.description adescription, a.pic apic,
            t.id tid,t.movietype tmovietype
        from
            movie m
        left join
            movie_actor ma
        on
            m.id=ma.movieid
        left join
            actor a
        on
            ma.actorid=a.id
        left join
            movie_type mc
        on
            m.id=mc.movieid
        left join
            type t
        on mc.typeid=t.id
        where m.id = #{id}
    </select>


    <select id="findAll" resultMap="movieMap">
        select
            m.*,
            a.id aid,a.name aname,a.birthday abirthday,a.sex
            asex,a.description adescription, a.pic apic,
            t.id tid, t.movietype movietype
        from
            movie m
        left join
            movie_actor ma
        on
            m.id=ma.movieid
        left join
            actor a
        on
            ma.actorid=a.id
        left join
            movie_type mc
        on
            m.id=mc.movieid
        left join
            type t
        on mc.typeid=t.id
    </select>
</mapper>
